.container
{
    width:100%;
    margin-top:10%;
    font-family: san-serif;
    letter-spacing: 1px;
}

.container h2 
{
    background: #4fbfa8;
    color: #fff;
    width:200px;
    font-size:24px;
    padding:5px;
    height:40px;
}
.container h2::after{
    content: '';
    border-top: 40 px solid #4fbfa8;
    border-right: 40 px solid transparent;
    position: relative;
    left:48px;
    top:34px;
}
.row
{
    margin-top: 30px;
}
.img
{
    width:100%;
}
